
body {
    background-color: #262626;	
    font-family: 'Mitr', sans-serif;

}

i, a, h1, h2, h3, h4, h5, h6 {
    font-family: 'Mitr', sans-serif;

}

#res {
	margin-right: 50px;
}

#de {
	margin-right: 20px;
}

#resume {
	margin-top: 100px;
}

.top-nav-collapse {
  background-color: #3E3E3E;
  
}

.phot {
	margin:30px;
	padding:30px;

}

.phot h3 {
	color: #EDEDED;
}

html {
  scroll-behavior: smooth;
}

hr {
  border: 1px solid #ADADAD;
}

